:root { 
  --ftitle: "Ruslan Display", sans-serif;
  --ftext: "Montserrat", sans-serif;
  --fnormal: 400;
  --fsize: 14px;
  --primary: black;
  --secondary: white;
  --fspecial: rgb(123, 255, 0);
  
  /* INFO: skill purpose */
  --bg: #0b0f17;
  --card: rgba(255,255,255,0.04);
  --accent: var(--fspecial, #5be04a);
  --muted: rgba(255,255,255,0.7);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

.navbar {
  background: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  z-index: 99999;
}

.navbar .logo {
  margin-top: 8px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--ftitle);
  font-weight: 600;
  font-size: 22px;
  color: var(--secondary);
}

.navbar ul li {
  font-weight: 600 !important;
  transition: all 0.3s ease;
  padding: 0 25px; /* let anchor handle spacing */
}


.navbar ul li a {
  font-family: var(--ftext);
  font-weight: 600;
  font-size: var(--fsize);
  color: var(--secondary) !important;
  display: block;
  padding: 5px 25px; /* spacing moved here */
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Hover effect (only a) */
.navbar ul li a:hover {
  color: var(--fspecial) !important;
}

/* Active effect (only a) */
.navbar ul li a.active {
  border-bottom: 1px solid var(--fspecial) !important;
  border-width: 5px;
  border-radius: none;
  color: var(--fspecial) !important;
}

/* Mobile toggle styles */
.navbar-toggler {
  border-color: var(--secondary) !important;
}

.navbar-toggler-icon {
  margin-bottom: 2px !important;
  background-image: none;
  position: relative;
  width: 20px;
  height: 20px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary) !important;
  transition: all 0.3s ease;
}

.navbar-toggler-icon::before {
  top: 0;
}
.navbar-toggler-icon span {
  top: 50%;
  transform: translateY(-50%);
}
.navbar-toggler-icon::after {
  bottom: 0;
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

.cv{
    font-size: var(--fsize);
    background-color: var(--fspecial);
    border: none !important;
    font-weight: 600;
}

.cv:hover{
    background-color: var(--secondary);
    color: var(--primary) !important;
    border: none !important;
}
