:root { 
  --ftitle: "Ruslan Display", sans-serif;
  --ftext: "Montserrat", sans-serif;
  --fnormal: 400;
  --fsize: 16px;
  --primary: black;
  --secondary: white;
  --fspecial: rgb(123, 255, 0);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--primary);
  color: var(--secondary);
}

.navbar {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(20px);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2) !important;
}

.navbar .logo {
  margin-top: 8px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-content: center;
  font-family: var(--ftitle);
  font-weight: 600;
  font-size: 22px;
  color: var(--secondary);
}

.navbar ul li {
  font-weight: 600 !important;
  transition: all 0.3s ease;
  border-radius: 8px;
  padding: 0 25px; /* let anchor handle spacing */
}


.navbar ul li a {
  font-family: var(--ftext);
  font-weight: 600;
  font-size: 14px;
  color: var(--secondary) !important;
  display: block;
  padding: 5px 25px; /* spacing moved here */
  border-radius: 5px;
  text-decoration: none;
  transition: all 0.3s ease;
}

/* Hover effect (only a) */
.navbar ul li a:hover {
  color: var(--fspecial) !important;
}

/* Active effect (only a) */
.navbar ul li a.active {
  color: var(--fspecial) !important;
}

/* Mobile toggle styles */
.navbar-toggler {
  border-color: var(--secondary) !important;
}

.navbar-toggler-icon {
  margin-bottom: 2px !important;
  background-image: none;
  position: relative;
  width: 20px;
  height: 20px;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after,
.navbar-toggler-icon span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--secondary) !important;
  transition: all 0.3s ease;
}

.navbar-toggler-icon::before {
  top: 0;
}
.navbar-toggler-icon span {
  top: 50%;
  transform: translateY(-50%);
}
.navbar-toggler-icon::after {
  bottom: 0;
}

.cv{
    font-size: 14px;
    background-color: var(--fspecial);
    border: none !important;
    font-weight: 600;
}

.cv:hover{
    background-color: var(--secondary);
    border: none !important;
}
